<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
</head>
<body>
    <h1>Activities</h1>
    <h3>Add new activities</h3>
    <form method="post" action="/activities">
        <label for="nameActivityNew">Name:</label><br>
        <input type="text" id="nameActivityNew" name="activityName" placeholder="New Activity" required><br>
        <label for="durationActivityNew">Duration (hours):</label><br>
        <input type="text" id="durationActivityNew" name="activityDuration" placeholder="1" required><br>
        <label for="costActivityNew">Cost:</label><br>
        <input type="text" id="costActivityNew" name="activityCost" placeholder="0.0" required><br>
        <label for="statusActivityNew">Status:</label><br>
        <input type="text" id="statusActivityNew" name="activityStatus" placeholder="to-do" required><br>
<!--        Dropdown selection for activity category-->
        <label for="categoryActivityNew">Category:</label><br>
        <select id="categoryActivityNew" name="activityCategory">
            <option value="Culture">Culture</option>
            <option value="Eating and drinking">Eating and drinking</option>
            <option value="Nature">Nature</option>
            <option value="Shopping">Shopping</option>
            <option value="Other activities">Other activities</option>
        </select><br>
        <button type="submit">Add Activity</button>
    </form>
    <h3>Current activities</h3>
    <ul>
        <!--th for thymeleaf functions-->
        <li th:each="activity : ${activitiesList}">
            <a th:href="@{activities/{item}(item=${activity.getId()})}" th:text="${activity.name}">activity</a>
<!--            <a th:href="@{activities/{item}(item=${activity.name})}" th:text="${activity.name}">activity</a>-->
<!--            <span th:text="${activity.name}">Activity</span>-->
<!--            <span th:text="${activity.getId()}">ID</span>-->
        </li>
    </ul>
    <form method="get" action="/">
        <button>Back</button>
    </form>
</body>
</html>
