<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <style>
        body {background-color: lightblue;}
        h2   {color: #ab0e96;}
    </style>
</head>
<body>
    <h2 th:text="${activity.name}">name</h2>
    <p th:text="'Catgory: ' + ${activity.category}">category</p>
    <p th:text="'Duration (hours): ' + ${activity.duration}">duration</p>
    <p th:text="'Cost: ' + ${activity.cost}">cost</p>
    <p th:text="'Status: ' + ${activity.status}">status</p>
    <form method="get" action="/activities">
        <button>View Activities</button>
    </form>
    <form method="get" action="/itineraries">
        <button>View Itineraries</button>
    </form>
    <form method="get" action="/">
        <button>Home</button>
    </form>
</body>
</html>
