<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
</head>
<body>
    <h1>Activities</h1>
    <p>Add and view all your activities</p>
    <form method="post" action="/activities">
        <input type="text" id="activityNew" name="activityName" placeholder="New Activity" required>
        <button type="submit">Add Activity</button>
    </form>
    <ul>
        <!--th for thymeleaf functions-->
        <li th:each="activity : ${activitiesList}">
            <a th:href="@{activities/{item}(item=${activity.getId()})}" th:text="${activity.name}">activity</a>
<!--            <a th:href="@{activities/{item}(item=${activity.name})}" th:text="${activity.name}">activity</a>-->
<!--            <span th:text="${activity.name}">Activity</span>-->
            <span th:text="${activity.getId()}">ID</span>
        </li>
    </ul>
    <form method="get" action="/">
        <button>Back</button>
    </form>
</body>
</html>
