<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget</title>
</head>
<body>
    <h2 th:text="'Budget Breakdown for: ' + ${itinerary.getName()}">Budget Breakdown</h2>
    <h3>Here is a breakdown of your budget for the different categories</h3>
    <p th:text="'Culture: ' + ${budgetCulture}"></p>
    <p th:text="'Eating and drinking: ' + ${budgetEat}"></p>
    <p th:text="'Nature: ' + ${budgetNature}"></p>
    <p th:text="'Shopping: ' + ${budgetShopping}"></p>
    <p th:text="'Other activities: ' + ${budgetOther}"></p>
    <br>
    <p th:text="'Total budget for the trip: ' + ${budget.getTotalBudget()}"></p>
    <p th:text="'Amount used: ' + ${itinerary.getBudgetUsed()}"></p>
    <p th:text="'Amount left: ' + ${itinerary.getBudgetLeft()}"></p>
</body>
</html>
