<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Itineraries</title>
</head>
<body>
  <h1>Itineraries</h1>
  <h3>View your itineraries</h3>
  <ul>
      <li th:each="itinerary : ${itineraryList}">
          <a th:href="@{itineraries/{item}(item=${itinerary.getId()})}" th:text="${itinerary.name}">itinerary</a>
<!--          <span th:text="${itinerary.name}">Itinerary</span>-->
<!--          <span th:text="${itinerary.getId()}">ID</span>-->
      </li>
  </ul>
  <form method="get" action="/">
    <button>Back</button>
  </form>
</body>
</html>
